../aaaaa/output/
log/*
/conf/kitex_remote_config.json
/.idea
/.ftt/
*.mp3
*.mp4
*.wav
PaddleSpeech
speaker_segments
pyannote
*.vtt
ffmpeg
ffmpeg-release-amd64-static.tar.xz
*.srt
*.mkv
whisperx_model
*.ass
bin
ffmpeg-7.0.2-amd64-static
tmpdir
wav2vec2_checkpoint
ffmpeg-n7.1-latest-linux64-gpl-7.1
output
spkrec-ecapa-voxceleb
model
material